<div class="container-fluid" style="background-color: #181818; position: absolute; margin-top: 250px;">
  <div class="container">
  <footer class="pt-5 mt-5"> 
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5 style="color: #3abb70; font-size: 17px !important;" onclick="window.location.href = '/product?subCategoryId=0&selectedType=1'">Traktör Arkası Çapa Ekipmanları</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=0&selectedType=0" class="nav-link p-0 text-muted">Rotovatör Grubu</a></li>
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=1&selectedType=0" class="nav-link p-0 text-muted">Kazayağı Grubu</a></li>
          <li class="nav-item mb-2" style="font-size: 14px !important;" ><a href="/product?subCategoryId=2&selectedType=0" class="nav-link p-0 text-muted">Pulluk-Bıçak Grubu</a></li>
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=3&selectedType=0" class="nav-link p-0 text-muted">Yer Kazma Bıçak Grubu</a></li>
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=4&selectedType=0" class="nav-link p-0 text-muted">Çizel Bıçak Grubu</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 style="color: #3abb70; font-size: 17px !important;" onclick="window.location.href = '/product?subCategoryId=1&selectedType=1'">Çapa Makinası Ekipmanları</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=5&selectedType=0" class="nav-link p-0 text-muted">Çapa Makinası Bıçakları</a></li>
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=6&selectedType=0" class="nav-link p-0 text-muted">Çapalama Makinası Alt Ekipmanları</a></li>
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=7&selectedType=0" class="nav-link p-0 text-muted">Römorklar</a></li>
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=8&selectedType=0" class="nav-link p-0 text-muted">Çapa Makinası Aparatları</a></li>
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=9&selectedType=0" class="nav-link p-0 text-muted">Teker Grubu</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 style="color: #3abb70; font-size: 17px !important;" onclick="window.location.href = '/product?subCategoryId=2&selectedType=1'">Bahçe Çapaları</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=10&selectedType=0" class="nav-link p-0 text-muted">Bahçe El Çapaları</a></li>
          <li class="nav-item mb-2" style="font-size: 14px !important;"><a href="/product?subCategoryId=11&selectedType=0" class="nav-link p-0 text-muted">Harman Ekipmanları</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 border-top">
      <p style="color: #3abb70;">© Demiray Isı Cihazları Ve Zirai Aletler San. Tic. Ltd. Şti.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a href="https://www.instagram.com/demiraystoree?igsh=em15NzlsZzUxemF3" target="_blank" style="color: #3abb70; font-size: 25px;"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="ms-3"><a href="https://www.facebook.com/profile.php?id=100043591826693&mibextid=ZbWKwL" target="_blank" style="color: #3abb70; font-size: 25px;"><i class="fa-brands fa-facebook-f"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
</div>