<!doctype html> 
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demiray Portal | Sepet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <script src="/assets/vue.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
    <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <script>
      var _basketData = {{{json basketData}}}
    </script>
    <main id="app">
    {{> header}}
    <div class="container mt-3">
      {{> navbar}}
      <div class="row g-0 my-3 mt-5">  
        <basket class="basket-header p-3 d-flex justify-content-between align-items-center"> 
          <div class="basket-title">Sepetim <span>([selectedBasketList.length])</span></div>
          <div class="basket-all-delete d-flex gap-2 align-items-center" @click="clearSelectedBasketList">Seçili Ürünleri Sil <i class="fa-regular fa-trash"></i></div> 
        </basket>
      </div>
      <div class="row mb-3"> 
        <section class="col-12 col-md-8 col-lg-9">
          <basket class="basket-header p-3 d-flex justify-content-between align-items-center mb-4"> 
            <div class="basket-title add-coupe-code"><i class="fa-regular fa-circle-plus"></i> Kupon Kodu Ekle</div>
          </basket>
          <div class="basket-list mb-3" v-for="basket in basketList" :key="basket">
            <div class="basket-item w-100 p-3 d-flex gap-4">
              <div class="basket-right d-flex align-items-center gap-4">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" v-model="basket.selected">
                <div class="basket-image-base">
                  <img :src="basket.img" alt="" class="basket-img">
                </div>
              </div>
              <div class="basket-left d-flex flex-column justify-content-between w-100">
                <span>[basket.name]</span>
                <div class="basket-left-content d-flex justify-content-between">
                  <div class="basket-minus d-flex"> 
                    <button @click="decreaseProductBasket(basket.id)">-</button>
                    <input type="number" v-model="basket.amount" disabled> 
                    <button @click="increaseProductBasket(basket.id)">+</button>
                  </div>
                  <div class="basket-product-price">[(getBasketPrice(basket.id) * basket.amount).toLocaleString('de')] TL</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <aside class="col-12 col-md-4 col-lg-3">
          <div class="left-side d-flex justify-content-end mobileLeftSide">
            <div class="aside-block mb-3 basket-confirm">
              <span>Seçilen Ürünler ([selectedBasketList.length])</span>
              <ul class="d-flex flex-column gap-1">
                <li class="product my-2">
                  [totalBasketPrice.toLocaleString('de')]₺
                </li>
              </ul>
              <div class="button-area d-flex flex-column">
              <button class="btn btn-basket-confirm mt-3" data-bs-toggle="modal" data-bs-target="#basketModal">Sepeti Onayla</button>
              <button class="btn btn-modal-close w-100 mt-3" data-bs-toggle="modal" data-bs-target="#noteModal">Not Ekle</button>
              </div>
            </div> 
          </div>
        </aside>
      </div>
    </div>
    <!-- Modal -->
  <div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Ödeme Seçenekleri</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0" v-model="paymentType">
                <label class="form-check-label" for="flexRadioDefault1"> Havale EFT </label>
              </div>
              <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="1" v-model="paymentType">
                <label class="form-check-label" for="flexRadioDefault2"> Muhasebe </label>
              </div>
            </div>
            <div class="modal-body">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Banka Hesap Bilgilerimiz </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="bank-account d-flex flex-column gap-2">
                        <span style="color: #24d17b; font-size: 20px;">AK BANK | Şimav Şubesi</span>
                        <span class="d-flex gap-2 font-size: 16px;">
                          <p style="color: gray;">IBAN</p>
                          <p>TR23 0004 6005 0288 8000 1009 20</p>
                        </span>
                      </div>
                      <hr>
                      <div class="bank-account d-flex flex-column gap-2">
                        <span style="color: #24d17b; font-size: 20px;">HALK BANK | Gediz Şubesi</span>
                        <span class="d-flex gap-2 font-size: 16px;">
                          <p style="color: gray;">IBAN</p>
                          <p>TR88 0001 2009 5290 0010 2601 27</p>
                        </span>
                      </div>
                      <hr>
                      <div class="bank-account d-flex flex-column gap-2">
                        <span style="color: #24d17b; font-size: 20px;">ZİRAAT BANKASI | Gediz Şubesi</span>
                        <span class="d-flex gap-2 font-size: 16px;">
                          <p style="color: gray;">IBAN</p>
                          <p>TR76 0001 0001 8256 7949 3750 01</p>
                        </span>
                      </div>
                      <hr>
                      <div class="bank-account d-flex flex-column gap-2">
                        <span style="color: #24d17b; font-size: 20px;">İŞ BANKASI | Gediz Şubesi</span>
                        <span class="d-flex gap-2 font-size: 16px;">
                          <p style="color: gray;">IBAN</p>
                          <p>TR88 0006 4000 0014 6200 4448 88</p>
                        </span>
                      </div>
                      <hr>
                      <div class="bank-account d-flex flex-column gap-2">
                        <span style="color: #24d17b; font-size: 20px;">VAKIF BANK | Gediz Şubesi</span>
                        <span class="d-flex gap-2 font-size: 16px;">
                          <p style="color: gray;">IBAN</p>
                          <p>TR65 0001 5001 5800 7303 3271 37</p>
                        </span>
                      </div>
                      <hr>
                      <div class="bank-account d-flex flex-column gap-2">
                        <span style="color: #24d17b; font-size: 20px;">DENİZ BANK | Gediz Şubesi</span>
                        <span class="d-flex gap-2 font-size: 16px;">
                          <p style="color: gray;">IBAN</p>
                          <p>TR77 0013 4000 0095 6817 8000 01</p>
                        </span>
                      </div>
                      <hr>
                      <div class="bank-account d-flex flex-column gap-2">
                        <span style="color: #24d17b; font-size: 20px;">TÜRKİYE FİNANS | Kütahya Şubesi</span>
                        <span class="d-flex gap-2 font-size: 16px;">
                          <p style="color: gray;">IBAN</p>
                          <p>TR31 00020 6001 4402 0209 6300 01</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Vazgeç</button>
              <button type="button" class="btn btn-modal-confirm" @click="confirmBasketToBuy">Onayla</button>
            </div>
          </div>
        </div>
      </div>
      {{!-- Not --}}
      <!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Özel Sipariş</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                  <div class="mb-3">
                      <label class="form-label">Adı</label>
                    <input type="text" class="form-control" placeholder="Adı">
                  </div>
                  <div class="mb-3">
                   <label class="form-label">Soyadı</label>
                    <input type="text" class="form-control" placeholder="Soyadı">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Ticari Ünvanı</label>
                    <input type="text" class="form-control" placeholder="Ticari Ünvanı">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Vergi Numarası</label>
                    <input type="number" class="form-control" placeholder="Vergi Numarası">
                  </div>
                  <div class="mb-3">
                     <label class="form-label">Telefon Numarası</label>
                    <input type="number" class="form-control" placeholder="Telefon Numarası">
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Adresi</label>
                      <textarea class="form-control" rows="3" placeholder="Adresi"></textarea>
                  </div>
                  <div class="mb-3">
                       <label class="form-label">Adresi</label>
                      <textarea class="form-control" rows="3" placeholder="Açıklama"></textarea>
                  </div>
      </div>
       <div class="modal-footer">
              <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Vazgeç</button>
              <button type="button" class="btn btn-modal-confirm">Oluştur</button>
     </div>
    </div>
  </div>
</div>
  </main>
        {{> footer }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/partialActions.js"></script>
  </body>
</html>