<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demiray Portal | Ana Sayfa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <script src="/assets/vue.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
    <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <main id="app">
    <!-- Header Start -->
    {{> header }}
    <!-- Menu End -->

    <!-- Nav Start -->
    <div class="container mt-3">
      <div class="row g-0 gap-5">
              {{> navbar }}
      <!-- Nav End -->

      <!-- Kategoriler -->
      <div class="row g-0 mt-4 gap-3 index-product-header">
      <div class="category-header d-flex align-items-center justify-content-between">
        <h5>Kategoriler</h5>
        <div class="slider-buttons d-flex gap-1">
          <button v-for="number in getCategorySliderCount" :key="number" :class="number === selectedCategorySlider ? 'slider-button active' : 'slider-button'" @click="setCategorySliderPage(number)"></button>
          <!-- <button class="slider-button active"></button> -->
        </div>
      </div>
      <div class="col-6 col-lg-4 index-product" style="width: 245px;" v-for="category in paginatedCategories" :key="category" @click="redirectPage(category.redirectPage)">
        <div class="product-item p-3 category-index">
          <div class="product-image-base">
            <img :src="`${category.imgSource}`" class="product-img" alt="">
          </div>
          <div class="product-content p-2 d-flex align-items-center justify-content-center">
            <span class="product-title fw-medium">[category.categoryName]</span>
          </div>
        </div>
      </div>
      </div>
      <!-- Kategoriler End -->

      <!-- Yeni Eklenen Ürünler Start -->
      <div class="row g-0 mt-4 mb-4 gap-3 index-product-header" style="margin-top: 150px !important;">
        <div class="category-header d-flex align-items-center justify-content-between">
          <h5>Yeni Eklenenler Ürünler</h5>
          <div class="slider-buttons d-flex gap-1">
            <button v-for="number in getNewProductsSliderCount" :key="number" :class="number === selectedNewProductSlider ? 'slider-button active' : 'slider-button'" @click="setNewProductSliderPage(number)"></button>

            <!-- <button class="slider-button active"></button>  -->
          </div>
        </div>
        <div class="col-6 col-lg-4 index-product" style="width: 245px;" v-for="newProduct in paginatedNewProducts" :key="newProduct" @click="redirectPage(`/product-content?productId=${newProduct.productId}`)">
          <div class="product-item p-3">
            <div class="product-top-content d-flex justify-content-between">
              <div class="col-sm-3 product-price-discount badge bg-warning">Yeni</div>
              {{#if isLogged}}
              <div class="col-sm-3 product-price-discount badge bg-danger" v-show="newProduct.productDiscountedPrice !== 0">[calcDiscount(newProduct.productDiscountedPrice, newProduct.productPrice)]%</div>
              {{/if}}
            </div>
            <div class="product-image-base">
              <img :src=`${newProduct.productImage}` class="product-img" alt="">
            </div>
            <div class="product-content p-2">
              <span class="product-title">[newProduct.productName]</span>
              <div class="row product-price-content mt-3 align-items-center justify-content-between">
                {{#if isLogged}}
                <div class="col-auto product-price-old" v-show="newProduct.productDiscountedPrice !== 0">[newProduct.productPrice.toLocaleString('de')]₺</div>
                <div class="col-auto product-price-new">[newProduct.productDiscountedPrice <= 0 ? newProduct.productPrice : newProduct.productDiscountedPrice]₺</div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- Yeni Eklenen Ürünler End -->
    </div>
    <div class="container" style="margin-top: 150px;">
        <div class="partner-container">
            <div class="partner-header mb-5">
                <div class="partner-title">Demiray E-ticaret Portallarımız Hizmetinizde!</div>
                <div class="partner-sub-title">Ürünlerimizi dilerseniz e-ticaret portallarındanda ulaşabilirsiniz</div>
            </div>
            <div class="partner-content">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <div class="partner-item">
                            <a href="https://www.gittigidiyor.com/magaza/demiraymarketim" target="_blank">
                                <img src="/assets/images/partner-1.webp" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="partner-item">
                            <a href="https://www.n11.com/magaza/demirayltdsti" target="_blank">
                                <img src="/assets/images/partner-2.webp" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="partner-item partner-3">
                            <a href="https://www.trendyol.com/magaza/demiraymarketim-m-189133?sst=0" target="_blank">
                                <img src="/assets/images/partner-3.webp" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="partner-item partner-4">
                            <a href="#" target="_blank">
                                <img src="/assets/images/partner-4.webp" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  <!-- Footer -->
      {{> footer }}
        <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/partialActions.js"></script>
  </body>
</html>