<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demiray Giriş</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <script src="/assets/vue.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
  </head>
  <body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0" id="app">
      <div class="container d-flex align-items-center justify-content-center">
        <div class="card login-card">
          <div class="row g-0">
            <div class="col-md-7"><img src="/assets/images/login-bg.png" class="login-card-img" alt=""></div>
            <div class="col-md-5">
              <div class="card-body d-flex align-items-center flex-column">
                <form>
                  <div class="brand-wrapper">
                    <img src="/assets/images/logo.png" alt="logo" class="logo">
                </div>
                <p class="login-card-description">Giriş Yapın</p>
                  <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="userMail">
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Şifre" id="exampleInputPassword1" v-model="userPassword">
                  </div>
                  <div class="form-check d-flex align-items-center my-3 gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" v-model="rememberMe">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 13px; padding-top: 5px;">
                      Beni Hatırla
                    </label>
                  </div>
                  <button type="button" class="btn login-btn w-100" @click="loginBtnClick">Giriş</button>
                </form>
                <span class="create-account mt-3" @click="redirectRegisterPage">Kayıt Ol
                </span>
                <footer class="login-card-footer-nav">
                  <div class="text-center pt-2 mt-3">
                    <span class="copyright"> © Demiray Isı</span>
                </div>
                {{#if infoMessage}}
                <div>
                  {{infoMessage}}
                </div>
                {{/if}}
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      const app = new Vue({
    el: '#app',
    data: {
      userMail: '',
      userPassword: '',
      rememberMe: false,
    },
    created: function() {
      // vuejs ready
    },
    delimiters: ['[', ']'],
    computed: {

    },
    methods: {
      loginBtnClick() {
        event.preventDefault();
        if(this.userMail.trim() === '' || this.userPassword === '') {
                alert('Mail veya şifre alanı boş bırakılamaz!');
                return;
              }
              
              //alert(`Kullanıcı Maili: ${this.userMail}\nŞifre: ${this.userPassword}\nRememberMe: ${this.rememberMe}`);
      
              const loginData = {
                mail: this.userMail,
                password: this.userPassword,
                rememberMe: this.rememberMe
              }
      
              $.ajax({
                  url: '/api/loginaction',
                  type: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify({ loginData: loginData }),
                  success: function(response) {
                    if(response.success === true) {
                      window.location.href = response.redirectPage;
                    }
                    if(response.errorMessage) {
                      errorMessage(response.errorMessage, response.waitTime);
                    }
                    if(response.successMessage) {
                      successMessage(response.successMessage, response.waitTime);
                    }
                    /*
                    if(response.infoMessage) {
                       alert(response.infoMessage);
                    }
                    */
                  },
                  error: function() {
                      //alert('Sunucu ile iletişim kurulamadı.');
                  }
              });

              this.userMail = '';
              this.userPassword = '';
              this.rememberMe = false;
      },
      redirectRegisterPage() {
        window.location.href = '/register';
      }
    },
    mounted () {
    }
  });

  function successMessage(text, delay = 1500) {
  Swal.fire({
    position: "center",
    icon: "success",
    title: text,
    showConfirmButton: false,
    timer: delay
  });
}

function errorMessage(text, delay = 1500) {
  Swal.fire({
    position: "center",
    icon: "error",
    title: text,
    showConfirmButton: false,
    timer: delay
  });
}
    </script>
  </body>
</html>